body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
  padding: 20px;
  background: firebrick;
  color: white;
}

select {
  margin: 20px;
  height: 30px;
  width: 115px;
  border: 2px solid firebrick;
  font-size: 16px;
}

button {
  color: white;
  background: firebrick;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
}

.movie-card {
  margin: 10px 20px;
  max-width: 300px;
  padding: 10px;
  border: 2px solid firebrick;
}

h2 {
  margin: 0 0 10px 0;
}
